$color1: #a16f44;
$color2: #88857f;
$white: rgb(231, 231, 231);
$black: rgb(12, 12, 12);

@font-face {
    font-family: "Allura";
    src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Light.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #21201e;
    color: $white;
    font-family: Roboto, sans-serif;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: $white;
    &:hover {
        color:$color1;
    }
}
.titre-marron {
    font-family: Allura;
    color: $color1;
}
.logo2 {
    width: 50px;
    height: 50px;
    background: url(/Assets/img/ic-plate.png) center/cover;
    margin: 0 auto 1.5rem;
}