@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #21201e;
  color: rgb(231, 231, 231);
  font-family: Roboto, sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(231, 231, 231);
}

.titre-marron {
  font-family: Allura;
  color: #a16f44;
}

.logo2 {
  width: 50px;
  height: 50px;
  background: url(/Assets/img/ic-plate.png) center/cover;
  margin: 0 auto 1.5rem;
}

header {
  height: 100vh;
  background: url(/Assets/img/bg-slider-06.jpg) fixed center/cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 90%;
}
header .container-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
header .container-txt h1 {
  font-size: 5rem;
  position: relative;
}
header .container-txt h1 .titre-marron {
  font-weight: 300;
  position: absolute;
  top: -50px;
  left: 40%;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
}
@media screen and (max-width: 600px) {
  header .container-txt h1 .titre-marron {
    font-size: 3rem;
  }
}
header .container-txt h1 .restau {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 900;
  font-family: Poppins;
  letter-spacing: 21px;
}
@media screen and (max-width: 600px) {
  header .container-txt h1 .restau {
    margin: 4rem auto;
    font-size: 3rem;
  }
}
header .container-txt .img-logo {
  width: 50px;
  height: 50px;
  background: url(/Assets/img/ic-plate-big.png) center/cover;
  margin: 1rem auto;
}
@media screen and (max-width: 600px) {
  header .container-txt .img-logo {
    margin: 0 auto 4rem;
  }
}
header .container-txt p {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 1.2rem;
  width: 50%;
  margin-top: 1rem;
}
@media screen and (max-width: 600px) {
  header .container-txt p {
    width: 90%;
  }
}

nav {
  top: 0;
  height: 5rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 900px) {
  nav {
    width: 95%;
  }
}
@media screen and (max-width: 600px) {
  nav {
    width: 80%;
  }
}
nav .nav-left {
  font-family: Allura;
  font-size: 3rem;
  font-weight: 900;
}
nav .nav-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  text-transform: uppercase;
}
@media screen and (max-width: 900px) {
  nav .nav-mid {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 600px) {
  nav .nav-mid {
    display: none;
  }
}
nav .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
  width: 10%;
}
@media screen and (max-width: 900px) {
  nav .nav-right {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 600px) {
  nav .nav-right {
    font-size: 1.3rem;
    width: 40%;
  }
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .section1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}
@media screen and (max-width: 600px) {
  .section1 {
    height: 70vh;
  }
}
.section1 .section1-left {
  width: 50%;
  background-color: rgb(231, 231, 231);
  padding: 10px;
}
@media screen and (max-width: 900px) {
  .section1 .section1-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
  }
}
.section1 .section1-left .border-dash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px dashed #a16f44;
  height: 100%;
}
.section1 .section1-left .border-dash h2 {
  margin-bottom: 1rem;
}
.section1 .section1-left .border-dash h2 .titre-marron {
  color: #a16f44;
  font-family: Allura;
}
.section1 .section1-left .border-dash h2 .store {
  font-family: Poppins;
  color: rgb(12, 12, 12);
}
.section1 .section1-left .border-dash p {
  color: rgb(12, 12, 12);
  width: 90%;
  margin-bottom: 1.5rem;
}
.section1 .section1-left .border-dash .img-chef1 {
  width: 80px;
  height: 80px;
  background: url(/Assets/img/avatar-01.jpg) center/cover;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}
.section1 .section1-left .border-dash .Russel {
  font-weight: 700;
  font-family: Poppins;
  margin-bottom: 0;
}
.section1 .section1-left .border-dash .Chef {
  color: #88857f;
  font-family: Poppins;
  text-transform: uppercase;
  font-weight: 600;
}
.section1 .section1-right {
  width: 50%;
}
@media screen and (max-width: 900px) {
  .section1 .section1-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .section1 .section1-right {
    display: none;
  }
}
.section1 .section1-right .img-section1-right img {
  height: 60vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: cover;
}

.section2 {
  text-align: center;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}
.section2 .container-section2 .titre-marron {
  font-size: 2rem;
  margin: 2rem auto;
}
.section2 .container-section2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
.section2 .container-section2 ul li a {
  padding-bottom: 5px;
  border-bottom: 2px solid #88857f;
}
.section2 .container-section2 .menus {
  margin: 3rem auto;
  max-width: 1100px;
  background-color: rgb(245, 245, 245);
  color: rgb(12, 12, 12);
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 48% 48%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  grid-template-rows: repeat(4, 1fr);
  border-top: 5px solid #a16f44;
}
.section2 .container-section2 .menus .rangements {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px dashed #a16f44;
  padding: 1rem 0;
  gap: 20px;
  width: 90%;
  text-align: left;
}
.section2 .container-section2 .menus .rangements .menu-img1 {
  border-radius: 50%;
}
.section2 .container-section2 .menus .rangements div h3 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 7px;
}
.section2 .container-section2 .menus .rangements div ~ p {
  font-weight: 700;
  font-size: 1.2rem;
  color: #a16f44;
}
.section2 #bg-section2 {
  position: absolute;
  bottom: -10%;
  left: 0;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  z-index: -1;
}/*# sourceMappingURL=index.css.map */