@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #21201e;
  color: rgb(231, 231, 231);
  font-family: Roboto, sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(231, 231, 231);
}
a:hover {
  color: #a16f44;
}

.titre-marron {
  font-family: Allura;
  color: #a16f44;
}

.logo2 {
  width: 50px;
  height: 50px;
  background: url(../img/ic-plate.png) center/cover;
  margin: 0 auto 1.5rem;
}

header {
  height: 100vh;
  background: url(../img/bg-slider-06.jpg) fixed center/cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 90%;
}
header .container-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
header .container-txt h1 {
  font-size: 5rem;
  position: relative;
}
header .container-txt h1 .titre-marron {
  font-weight: 300;
  position: absolute;
  top: -50px;
  left: 40%;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
}
@media screen and (max-width: 600px) {
  header .container-txt h1 .titre-marron {
    font-size: 3rem;
  }
}
header .container-txt h1 .restau {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 900;
  font-family: Poppins;
  letter-spacing: 21px;
}
@media screen and (max-width: 600px) {
  header .container-txt h1 .restau {
    margin: 4rem auto;
    font-size: 3rem;
  }
}
header .container-txt .img-logo {
  width: 50px;
  height: 50px;
  background: url(../img/ic-plate-big.png) center/cover;
  margin: 1rem auto;
}
@media screen and (max-width: 600px) {
  header .container-txt .img-logo {
    margin: 0 auto 4rem;
  }
}
header .container-txt p {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 1.2rem;
  width: 50%;
  margin-top: 1rem;
}
@media screen and (max-width: 600px) {
  header .container-txt p {
    width: 90%;
  }
}

nav {
  top: 0;
  height: 5rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 900px) {
  nav {
    width: 95%;
  }
}
@media screen and (max-width: 600px) {
  nav {
    width: 80%;
  }
}
nav .nav-left {
  font-family: Allura;
  font-size: 3rem;
  font-weight: 900;
}
nav .nav-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  text-transform: uppercase;
}
@media screen and (max-width: 900px) {
  nav .nav-mid {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 600px) {
  nav .nav-mid {
    display: none;
  }
}
nav .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
  width: 10%;
}
@media screen and (max-width: 900px) {
  nav .nav-right {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 600px) {
  nav .nav-right {
    font-size: 1.3rem;
    width: 40%;
  }
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .section1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}
@media screen and (max-width: 600px) {
  .section1 {
    height: 70vh;
  }
}
.section1 .section1-left {
  width: 50%;
  background-color: rgb(231, 231, 231);
  padding: 10px;
}
@media screen and (max-width: 900px) {
  .section1 .section1-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
  }
}
.section1 .section1-left .border-dash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px dashed #a16f44;
  height: 100%;
}
.section1 .section1-left .border-dash h2 {
  margin-bottom: 1rem;
}
.section1 .section1-left .border-dash h2 .titre-marron {
  color: #a16f44;
  font-family: Allura;
}
.section1 .section1-left .border-dash h2 .store {
  font-family: Poppins;
  color: rgb(12, 12, 12);
}
.section1 .section1-left .border-dash p {
  color: rgb(12, 12, 12);
  width: 90%;
  margin-bottom: 1.5rem;
}
.section1 .section1-left .border-dash .img-chef1 {
  width: 80px;
  height: 80px;
  background: url(../img/avatar-01.jpg) center/cover;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}
.section1 .section1-left .border-dash .Russel {
  font-weight: 700;
  font-family: Poppins;
  margin-bottom: 0;
}
.section1 .section1-left .border-dash .Chef {
  color: #88857f;
  font-family: Poppins;
  text-transform: uppercase;
  font-weight: 600;
}
.section1 .section1-right {
  width: 50%;
}
@media screen and (max-width: 900px) {
  .section1 .section1-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .section1 .section1-right {
    display: none;
  }
}
.section1 .section1-right .img-section1-right img {
  height: 60vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: cover;
}

.section2 {
  text-align: center;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 900px) {
  .section2 {
    height: 100%;
  }
}
.section2 .container-section2 .titre-marron {
  font-size: 2rem;
  margin: 2rem auto;
}
.section2 .container-section2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .section2 .container-section2 ul {
    width: 85%;
  }
}
@media screen and (max-width: 600px) {
  .section2 .container-section2 ul {
    width: 100%;
    font-size: 0.9rem;
  }
}
.section2 .container-section2 ul li a {
  padding-bottom: 5px;
  border-bottom: 2px solid #88857f;
  margin: 0 10px;
}
.section2 .container-section2 .menus {
  margin: 3rem auto;
  max-width: 1100px;
  background-color: rgb(245, 245, 245);
  color: rgb(12, 12, 12);
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 48% 48%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  grid-template-rows: repeat(4, 1fr);
  border-top: 5px solid #a16f44;
}
@media screen and (max-width: 900px) {
  .section2 .container-section2 .menus {
    grid-template-columns: 1fr;
    width: 90%;
  }
}
.section2 .container-section2 .menus .rangements {
  display: grid;
  grid-template-columns: 30% 50% 20%;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px dashed #a16f44;
  padding: 1rem 0;
  gap: 20px;
  width: 90%;
  text-align: left;
}
@media screen and (max-width: 900px) {
  .section2 .container-section2 .menus .rangements {
    justify-items: center;
  }
}
.section2 .container-section2 .menus .rangements .menu-img1 {
  border-radius: 50%;
}
@media screen and (max-width: 600px) {
  .section2 .container-section2 .menus .rangements .menu-img1 {
    width: 80px;
    height: 80px;
  }
}
.section2 .container-section2 .menus .rangements div h3 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 7px;
}
.section2 .container-section2 .menus .rangements div ~ p {
  font-weight: 700;
  font-size: 1.2rem;
  color: #a16f44;
}
.section2 #bg-section2 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  z-index: -1;
}
@media screen and (max-width: 900px) {
  .section2 #bg-section2 {
    bottom: -5%;
  }
}

.section3 {
  margin: 4rem auto;
  max-width: 1300px;
}
.section3 .container-section3 {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 70vh;
}
@media screen and (max-width: 900px) {
  .section3 .container-section3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}
.section3 .container-section3 .section3-left {
  background-color: rgb(12, 12, 12);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 900px) {
  .section3 .container-section3 .section3-left {
    width: 90%;
    margin: 4rem auto 0;
  }
}
.section3 .container-section3 .section3-left .border-section3 {
  border: 1px dashed #a16f44;
  height: 90%;
  width: 85%;
  padding: 15px;
}
@media screen and (max-width: 900px) {
  .section3 .container-section3 .section3-left .border-section3 {
    margin: 2rem auto;
  }
}
.section3 .container-section3 .section3-left .border-section3 .child-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section3 .container-section3 .section3-left .border-section3 .child-align h3 {
  margin: 2rem auto;
}
.section3 .container-section3 .section3-left .border-section3 .child-align h3 .titre-marron {
  font-size: 3rem;
  font-weight: 300;
  line-height: 15px;
}
.section3 .container-section3 .section3-left .border-section3 .child-align h3 .open {
  text-transform: uppercase;
  font-family: Poppins;
}
.section3 .container-section3 .section3-left .border-section3 .child-align .logo2 {
  width: 30px;
  height: 30px;
}
.section3 .container-section3 .section3-left .border-section3 .child-align .section3-left-children h4 {
  color: #a16f44;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.section3 .container-section3 .section3-left .border-section3 .child-align .section3-left-children:nth-last-child(1n) {
  margin-bottom: 2rem;
}
.section3 .container-section3 .section3-left .border-section3 .child-align .tel {
  color: #a16f44;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
}
.section3 .container-section3 .section3-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(231, 231, 231);
}
@media screen and (max-width: 900px) {
  .section3 .container-section3 .section3-right {
    width: 90%;
    margin: 0 auto;
  }
}
.section3 .container-section3 .section3-right .section3-right-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.section3 .container-section3 .section3-right .section3-right-align h3 {
  margin: 2rem auto;
}
.section3 .container-section3 .section3-right .section3-right-align h3 .titre-marron {
  font-size: 3rem;
  font-weight: 300;
  line-height: 25px;
}
.section3 .container-section3 .section3-right .section3-right-align h3 .open {
  text-transform: uppercase;
  font-family: Poppins;
  color: rgb(12, 12, 12);
  font-size: 2rem;
}
.section3 .container-section3 .section3-right .section3-right-align .logo2 {
  width: 30px;
  height: 30px;
}
.section3 .container-section3 .section3-right .section3-right-align form {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr 1fr 1fr;
  gap: 20px;
  grid-template-areas: "a b c" "d e f" "g g g";
}
@media screen and (max-width: 900px) {
  .section3 .container-section3 .section3-right .section3-right-align form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section3 .container-section3 .section3-right .section3-right-align form select {
  grid-area: a;
}
.section3 .container-section3 .section3-right .section3-right-align form input[type=date] {
  grid-area: b;
}
.section3 .container-section3 .section3-right .section3-right-align form input[type=time] {
  grid-area: c;
}
.section3 .container-section3 .section3-right .section3-right-align form input[type=text] {
  grid-area: d;
}
.section3 .container-section3 .section3-right .section3-right-align form input[type=tel] {
  grid-area: e;
}
.section3 .container-section3 .section3-right .section3-right-align form input[type=email] {
  grid-area: f;
}
.section3 .container-section3 .section3-right .section3-right-align form select, .section3 .container-section3 .section3-right .section3-right-align form input {
  border: none;
  margin-bottom: 15px;
  padding: 10px 0;
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid rgb(165, 165, 165);
}
.section3 .container-section3 .section3-right .section3-right-align form input[type=submit] {
  background-color: rgb(12, 12, 12);
  border-radius: 30px;
  color: rgb(231, 231, 231);
  font-size: 1rem;
  text-transform: uppercase;
  font-family: Poppins;
  letter-spacing: 2px;
  display: block;
  margin: 0 auto;
  grid-area: g;
  width: 200px;
  cursor: pointer;
}
.section3 .container-section3 .section3-right .section3-right-align form input[type=submit]:hover {
  color: #a16f44;
  background-color: whitesmoke;
  border-bottom: none;
  border: 1px solid #a16f44;
}
@media screen and (max-width: 900px) {
  .section3 .container-section3 .section3-right .section3-right-align form input[type=submit] {
    margin-bottom: 2rem;
  }
}

.section4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 600px) {
  .section4 {
    display: none;
  }
}
.section4 .section4-container h3 {
  margin: 2rem auto;
  text-align: center;
}
.section4 .section4-container h3 .titre-marron {
  font-size: 3rem;
  font-weight: 300;
  line-height: 25px;
}
.section4 .section4-container h3 .open {
  text-transform: uppercase;
  font-family: Poppins;
  color: rgb(231, 231, 231);
  font-size: 3rem;
}
.section4 .section4-container .logo2 {
  width: 30px;
  height: 30px;
}
.section4 .section4-container-children {
  width: 90%;
  max-width: 1300px;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 15px;
  grid-auto-rows: 1fr 1fr;
  grid-template-areas: "a c" "b c";
}
.section4 .section4-container-children .child1, .section4 .section4-container-children .child2, .section4 .section4-container-children .child3 {
  grid-area: a;
  display: grid;
  grid-template-columns: 40% 60%;
}
.section4 .section4-container-children .child1 .img-chidren, .section4 .section4-container-children .child2 .img-chidren, .section4 .section4-container-children .child3 .img-chidren {
  background: url(../img/event-01.jpg) center/cover;
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section4 .section4-container-children .child1 .img-chidren .fond-noir, .section4 .section4-container-children .child2 .img-chidren .fond-noir, .section4 .section4-container-children .child3 .img-chidren .fond-noir {
  height: 90px;
  width: 90px;
  background-color: rgb(41, 41, 41);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section4 .section4-container-children .child1 .img-chidren .fond-noir p, .section4 .section4-container-children .child2 .img-chidren .fond-noir p, .section4 .section4-container-children .child3 .img-chidren .fond-noir p {
  font-family: Poppins;
  font-size: 1.3rem;
}
.section4 .section4-container-children .child1 .img-chidren .fond-noir p ~ p, .section4 .section4-container-children .child2 .img-chidren .fond-noir p ~ p, .section4 .section4-container-children .child3 .img-chidren .fond-noir p ~ p {
  font-family: Roboto;
}
.section4 .section4-container-children .child1 .child-right, .section4 .section4-container-children .child2 .child-right, .section4 .section4-container-children .child3 .child-right {
  background-color: #fff;
  -moz-text-align-last: left;
       text-align-last: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}
.section4 .section4-container-children .child1 .child-right h4, .section4 .section4-container-children .child2 .child-right h4, .section4 .section4-container-children .child3 .child-right h4 {
  color: rgb(12, 12, 12);
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.section4 .section4-container-children .child1 .child-right .icones-child-right, .section4 .section4-container-children .child2 .child-right .icones-child-right, .section4 .section4-container-children .child3 .child-right .icones-child-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.section4 .section4-container-children .child1 .child-right .icones-child-right i, .section4 .section4-container-children .child1 .child-right .icones-child-right p, .section4 .section4-container-children .child2 .child-right .icones-child-right i, .section4 .section4-container-children .child2 .child-right .icones-child-right p, .section4 .section4-container-children .child3 .child-right .icones-child-right i, .section4 .section4-container-children .child3 .child-right .icones-child-right p {
  display: inline;
}
.section4 .section4-container-children .child1 .child-right .icones-child-right p, .section4 .section4-container-children .child2 .child-right .icones-child-right p, .section4 .section4-container-children .child3 .child-right .icones-child-right p {
  margin-right: 7px;
}
.section4 .section4-container-children .child1 .child-right button, .section4 .section4-container-children .child2 .child-right button, .section4 .section4-container-children .child3 .child-right button {
  background-color: transparent;
  border: none;
}
.section4 .section4-container-children .child1 .child-right button a, .section4 .section4-container-children .child2 .child-right button a, .section4 .section4-container-children .child3 .child-right button a {
  text-transform: uppercase;
  font-size: 1rem;
  color: rgb(12, 12, 12);
}
.section4 .section4-container-children .child2 {
  grid-area: b;
}
.section4 .section4-container-children .child2 .img-chidren {
  background: url(../img/event-02.jpg) center/cover;
}
.section4 .section4-container-children .child3 {
  grid-area: c;
  background: url(../img/event-03.jpg) center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section4 .section4-container-children .child3 .child-right {
  background-color: #fff;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section4 .section4-container-children .child3 .child-right .fond-noir {
  height: 90px;
  width: 90px;
  background-color: rgb(41, 41, 41);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 40%;
}
.section4 .section4-container-children .child3 .child-right .fond-noir p {
  font-family: Poppins;
  font-size: 1.3rem;
}
.section4 .section4-container-children .child3 .child-right .fond-noir p ~ p {
  font-family: Roboto;
}
.section4 .section4-container-children .child3 .child-right button {
  margin-top: 4.5rem;
}

.section5 {
  color: rgb(12, 12, 12);
  margin: 0 auto 10%;
  margin-top: 8rem;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section5 .img-ceo {
  position: absolute;
  top: -30px;
  left: 50%;
}
.section5 .img-ceo img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.section5 .ceo {
  background-color: rgb(231, 231, 231);
  max-width: 1300px;
}
.section5 .ceo p {
  line-height: 35px;
  font-size: 1.1rem;
  margin-bottom: 1.3rem;
  margin-top: 4rem;
}
.section5 .ceo p:nth-last-of-type(1) {
  color: #a16f44;
  margin-top: 0;
  font-size: 1rem;
  margin-bottom: 2.3rem;
}
.section5 .ceo h5 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}
.section5 .google {
  position: absolute;
  bottom: -70%;
  left: 0;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  z-index: -1;
}
@media screen and (max-width: 900px) {
  .section5 .google {
    display: none;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
}
@media screen and (max-width: 600px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
footer .footer-left {
  background-color: #161513;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0;
  width: 50%;
}
@media screen and (max-width: 600px) {
  footer .footer-left {
    width: 100%;
  }
}
footer .footer-left .droite {
  width: 70%;
  line-height: 35px;
  margin-right: 2rem;
}
footer .footer-left .droite h6 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 15px;
  margin: 1rem 0;
}
footer .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem 2rem;
  background-color: #21201e;
  width: 50%;
}
@media screen and (max-width: 600px) {
  footer .footer-right {
    width: 100%;
  }
}
footer .footer-right .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}
footer .footer-right .news label {
  font-family: Poppins;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
footer .footer-right .news input {
  background-color: transparent;
  padding: 10px 20px;
  border: 1px solid rgb(151, 119, 82);
  outline: none;
  max-width: 300px;
}
footer .footer-right .follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-right .follow p {
  text-transform: uppercase;
  font-family: Poppins;
}
footer .footer-right .follow i {
  padding: 0 25px;
  color: #88857f;
}
@media screen and (max-width: 600px) {
  footer .footer-right .follow i {
    padding: 0 10px;
  }
}/*# sourceMappingURL=index.css.map */
